@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

h1, h2, h3, h4, p, a, label, button {
    font-family: 'Julius Sans One', sans-serif;
}

.font-sub {
    font-family: 'Archivo', sans-serif;
}

.bg-custom {
    background-color: #f7dad9;
}
.bg-custom-dark {
    background-color: #d6d2c4;
}
#contactBtn {
    transition: all 150ms;
}
#contactBtn:hover {
    background-color: #d6d2c4;
}

.swiper-container-horizontal>.swiper-scrollbar {
    bottom: -.25rem;
}

.swiper-button-prev, .swiper-button-next {
    color: #f7dad9;
}

.h-500 {
    height: 36rem;
}
.max-h-custom {
    max-height: 75vh;
}
.min-h-custom {
    min-height: 24rem;
}

#startIcon {
    transition: all 150ms;
}
#startIcon:hover {
    fill: black;
}

.customHover p {
    transition: all 150ms;
}
.customHover p {
    min-height: 20%;
}
.customHover:hover p {
    min-height: 100%;
}