@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

h1, h2, h3, h4, p, a, label {
    font-family: 'Julius Sans One', sans-serif;
}

.font-sub {
    font-family: 'Archivo', sans-serif;
}

#contactBtn {
    background-color: #f7dad9;
}

.swiper-container-horizontal>.swiper-scrollbar {
    bottom: -.25rem;
}

.swiper-button-prev, .swiper-button-next {
    color: black;
}